
.contact h1{
    font-size: 42px;
}

.contact{
    padding: 120px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-container{
    margin-top: 80px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.contact-left{
    width: 70%;
}

.line{
    position: absolute;
    height: 100%;
    width: 1px;
    background: #000;
}

.card-name{
    width: auto;
}

.card{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.card a{
    display: flex;
}

.card-info{
    margin-top: 20px;
    margin-left: 80px;
    /* font-weight: 300; */
}

.contact-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.contact-top{
    width: 100%;
    padding: 0 20px 20px 20px;
}

.contact-top .contact-email{
    display: flex;
    flex-direction: column;
    
}

.contact-email form input{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 200;
    width: 100%;
}

.contact-down{
    width: 100%;
    margin-top: 80px;
    padding: 0 20px 20px 20px;
}

.contact-down .social-networks a{
    margin-right: 20px;
    font-size: 22px;
    color: #000;
}