@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Raleway:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Poppins', sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}

:root {
  --gold: #b99b55;
  --darkgrey: #252020;
  --dark-grey-text: #353535;
  --blue: #3f51b5;
  --bggrey: rgb(245, 245, 245);
}

.section-line{
    width: 200px;
    height: 1px;
    background: #000;
    margin-top: 30px;
}

.txt-caps{
    text-transform: uppercase;
    letter-spacing: 1px;
}

.h1-el-fnt{
    font-weight: 300;
    font-size: 36px;
}

.h2-el-fnt{
    font-weight: 200;
    font-size: 24px;
}

.fnt-w-l{
    font-weight: 300;
}

.fnt-w-b{
    font-weight: 500;
}

.mt{
    margin-top: 30px;
}

.mt-sm{
    margin-top: 10px;
}

.ml-lg{
    margin-left: 80px;
}

.fs{
    line-height: 1.7;
}

.hidden-fnt{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
}

.ptb{
    padding-top: 30px;
    padding-bottom: 30px;
}

.plr{
    padding-left: 30px;
    padding-right: 30px;
}

.plr-lg{
    padding-left: 80px;
    padding-right: 80px;
}

.section-bg{
    background-color: var(--bggrey);
}

.hero-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    margin-top: 30px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 5px;
}
/* ----------------------- root---------------------------------- */

header{
    color: #fff;
    background-color: transparent;
    position: absolute;
    top: 0;
    height: 175px;
    width: 100%;
    z-index: 3;
}

.header-gradient{
    background-image: linear-gradient(#000,transparent);
    position: absolute;
    top: 0;
    width: 100%;
    height: 175px;
    z-index: -2;
    transition: all .25s ease-in-out; 
}

.upper-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
    padding-right: 80px;
}


.booking{
    display: flex;
}

.language{
    margin-right: 30px;
}

.btn{
    color: #fff;
    background-color: var(--gold);
    border: 1px solid var(--gold);
    padding: 12px 37px;
    letter-spacing: 4px;
    text-decoration: none;
}

.best-rate{
    font-size: 8px;
    letter-spacing: 3px;
    margin-top: 17px;
}

.nav-bar{
    display: flex;
    background-color: rgba(0,0,0,.3);
    height: 50px;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-menu li a{
    font-size: 16px;
    margin-left: 50px;
    letter-spacing: 3px;
    text-decoration: none;
}

/* ----------------------- HEADER ---------------------------------- */

.hero {
    height: 1 vh;
}

.hero-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ----------------------- HERO ------------------------------------ */

.about-us{
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 160px 120px;
}

.about-us .about{
    padding-right: 80px;
    width: 50%;
}

.about-us .about h1{
    font-size: 40px;
}

.about-us .about h2{
    font-size: 30px;
}

.about-us p{
    letter-spacing: 1px;
    font-size: 14px;
}

.about-us .mini-gallery{
    width: 50%;
}

.about-us .mini-gallery img{
    width: 100%;
}

/* ----------------------- GALLERY ---------------------------------- */

.gallery{
    background-color: var(--bggrey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 120px;
}

.gallery h2{
    margin-top: 10px;
}

.gallery-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    margin-top: 50px;
}

.gallery-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-container .w-three{
    height: 500px;
    width: 55%;
    margin-top: 3%;
    margin-right: 3%;
}

.gallery-container .w-two{
    height: 500px;
    width: 39%;
    margin-top: 3%;
    margin-right: 3%;
}

.gallery-container .w-one{
    height: 500px;
    width: 26%;
    margin-top: 3%;
    margin-right: 3%;
}

/* ----------------------- GALLERY VIDEO ------------------------ */

.video{
    background-color: var(--bggrey);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 20.5%;
}

.video .video-container{
    position: relative;
    width: 100%;
    padding-bottom: 56%;
}

.video .video-container .video-item{
    position: absolute;
    width: 100%;
    height: 100%;
}

/* ----------------------- APARTMENTS -------------------------- */

.apartments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 120px;
}

.apartments .apartments-container{
    margin-top: 50px;
    width: 100%;
    height: 100%;
}

.apartments .container-wraper{
    display: flex;
    width: 100%;
}

.apartments .apartments-container .apartments-container-item{
    height: 500px;
    width: 31%;
    margin: 0 1%;
}

.apartments .apartments-container .apartment-item{
    display: flex;
    position: relative;
}

.apartments .apartments-container .apartment-content-overlay{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

.apartments .apartments-container .apartment-content-overlay .apartment-title{
    font-size: 30px;
    font-weight: 300;
    transform: translateY(20px);
    transition: all .25s ease-in-out;
}

.apartments .aparment-content-overlay-hidden {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}

.apartments .apartments-container .apartments-container-item .apartment-image{
    width: 100%;
}

.apartments .apartments-container .apartments-container-item .apartment-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ------------------- FOOTER ------------------------ */

footer{
    background-color: var(--bggrey);
    padding: 120px 120px 20px 120px;
    position: relative;
}

.footer-top{
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.footer-top-left{
    width: 30%;
    line-height: 1.5;
}

.footer-top-left .social-networks a{
    margin-right: 20px;
    font-size: 22px;
    color: #000;
}

.footer-top-right{
    width: 30%;
    display: flex;
}

.footer-top-right .line{
    position: absolute;
    height: 350px;
    top: 10%;
    width: 2px;
    background: #deddde;
}

.email-form{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

.email-form form{
    display: flex;
    flex-direction: column;
}

.email-form form input{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 200;
}

footer p {
    font-weight: 300;
}

.footer-down{
    display: flex;
    justify-content: center;
    align-items: end;
}